<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall_backend.bysj.mapper.TrolleyMapper">
    <resultMap id="trolleyMap" type="Trolley">
        <id column="customer_id" property="customerId"/>
        <result column="commodity_num" property="commodityNum"/>
        <result column="commodity_detail" property="commodityDetail"/>
    </resultMap>

    <select id="queryTrolleyByCustomerName" resultMap="trolleyMap">
        select * from trolley where customer_id = (
            select id from customer where customer_name = #{name}
            )
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="Trolley">
        insert into trolley (customer_id, commodity_num, commodity_detail)
        values(#{customerId}, 0, "[]")
    </insert>

    <update id="addCommodityToTrolley">
        update trolley set commodity_detail
            = JSON_ARRAY_APPEND(commodity_detail, '$', CAST('{"id":${commodityId},"number":${number}}' AS JSON)),
                           commodity_num = commodity_num + (#{number})
        where customer_id = #{customerId}
    </update>

    <update id="resetCommodityDetail">
        update trolley set commodity_detail
            = CAST('${commodityDetail}' AS JSON) where customer_id = #{customerId}
    </update>
</mapper>